.masonry-grid {
  display: flex;
  margin-left: -8px;
  width: 100%;
}

.masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 10px;
}

.snap-card:hover .overlay-content {
  opacity: 1;
  transform: translateY(0);
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: auto;
}
