.masonry-grid {
  display: flex;
  margin-left: -8px; /* Отрицательный отступ компенсирует padding колонок */
  width: 100%;
}

.masonry-grid_column {
  padding-left: 10px; /* Отступ между колонками */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 10px; /* Вертикальный отступ между карточками, можно оставить */
}

.snap-card:hover .overlay-content {
  opacity: 1;
  transform: translateY(0);
}
